.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 16px;
}

.password-toggle:hover {
  color: #333;
}

.form-control {
  padding-right: 40px; /* Make room for the icon */
}

.card-dashboard .card-body {
  padding: 0 !important;
}
